<app-instructions
    [header]="'Visual Test'"
    [content]="'Instructions: Each input box displayed has a light underneath. Click on one for the light to flash in a sequence that can be perceived in Morse Code. In its corresponding input box, type its English letter equivalent.'"
></app-instructions>
<div style="margin: 0 auto; width: 500px;"  *ngIf="visible">
    <span style="font-size:20px;">Try it out:</span><br><br>
    <div *ngFor="let letter of word.split(''); let i = index" style="display: inline;">
        <div style="width:50px; display: inline-block;">
            <input type="text" maxlength="1" [formControl]="letters[i]">
            <img (click)="transmit($event, letter, i)" id = "{{ 'flashlight' + i }}" src="assets/OffLight.png">
        </div> 
        <span>&nbsp; &nbsp; &nbsp;</span>
    </div>
    <app-button
        [text]="'Next'"
        (click)="nextWord()"
    ></app-button>
</div>
<span style="font-size: 25px; margin-left: 585px;" *ngIf="!visible">
    You're ready to take the test!
    <app-button
        [text]="'Take Test'"
        [routerLink]="['/visual-test']"
    ></app-button>
</span>