@import "../../assets/variables";

div {
    text-align: center;
}

input {
    background: none;
    border: 0;
    border-bottom: 3px solid $secondary-color;
    width: 60px;
    color: white;
    font-family: 'Andika';
    font-size: 40px;
    outline: 0;
    text-transform: uppercase;
    text-align: center;
}

img {
    width: 110px;
    height: 100px;
    position: relative;
    right: 25px;
}

app-log-out-button {
    position: absolute;
    width: 500px;
    left: 80%;
}