.main {
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;
    text-align: center;
}

span {
    margin-left: -200px;
}

.second {
    position: relative;
    margin-left: -170px;
}

.buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -30px;
    margin-left: -175px;
}


