<span style="font-size: 30px;" *ngIf="visible">{{ numberOfItems }}</span>
<div style="margin: 0 auto; width: 500px;"  *ngIf="visible">
    <div *ngFor="let letter of word.split(''); let i = index" style="display: inline;  margin-left: 20px;">
        <div style="width:50px; display: inline-block;">
            <input type="text" maxlength="1" [formControl]="letters[i]">
            <img (click)="transmit($event, letter, i)" id = "{{ 'flashlight' + i }}" src="https://i.imgur.com/g7PUAYI.png">
        </div> 
        <span>&nbsp; &nbsp; &nbsp;</span>
    </div>
</div>

<div *ngIf="visible">
    <app-button
    [text]="'Next'"
    (click)="nextWord($event)"
    ></app-button>
</div>

<div *ngIf="showButton">
    <app-button
    [text]="'Finish'"
    [routerLink]="['/audio-instructions']"
    ></app-button>
</div>

