@import "../../assets/variables";


button {
    background: none;
    border: 3px solid $secondary-color;
    border-radius: 3px;
    color: $secondary-color;
    cursor: pointer;
    display: block;
    font-family: 'Andika';
    font-size: 20px;
    margin-bottom: 10px;
    width: 10%;
}

a {
    text-decoration: none;
}