<app-log-out-button></app-log-out-button>
<app-instructions
    [header]="'Input Test'"
    [content]="'Instructions: Letters in English will appear on the screen. In the prompt, type in the Morse Code equivalent of the highlighted letter using the spacebar. Press enter to submit your answer. Simply pressing the spacebar will result to a short/dot (.) while holding the spacebar will result to a line/dash (-).'"
></app-instructions>
<div style="text-align: center;" *ngIf="visible">
    <span style="font-size:20px;">Try it out:</span><br><br>
    <div *ngFor="let letter of word.split('');" style="display: inline;">
        <h1 style="display: inline; font-size: 40px;" [ngClass]="{'active': currentLetter == letter}">{{ letter }}</h1>
    </div>
    <br>
    <input type="text" (keyup.enter)="onKey($event)" style="width: 125px; margin-top: 20px; margin-bottom: 30px;">
</div>
<span style="font-size: 25px; margin-left: 585px;" *ngIf="!visible">
    You're ready to take the test!
    <app-button
        [text]="'Take Test'"
        [routerLink]="['/input-test']"
>   </app-button>
</span>

