<div style="margin: 0 auto; width: 500px;"  *ngIf="visible">
    <div *ngFor="let letter of word.split(''); let i = index" style="display: inline;">
        <div style="width:50px; display: inline-block;">
            <input type="text" maxlength="1" [formControl]="letters[i]">
            <span (click)="playAudio($event, letter)">&nbsp; &#9658;</span>
        </div> 
        <span>&nbsp; &nbsp; &nbsp;</span>
    </div>
</div>
{{ score }}

<div *ngIf="visible">
    <app-button
    [text]="'Next'"
    (click)="nextWord($event)"
    ></app-button>
</div>

<div *ngIf="showButton">
    <app-button
    [text]="'Finish'"
    ></app-button>
</div>

